<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>This is title</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1, height=device-height">
</head>
<body style="height: 100vh;width: 100%">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" /> -->
<style>
    body{
        width:100% !important;
        padding:0!important;
        margin:0 !important;
    }
</style>
<main style="height: 100vh;width: 100%">
    <script type="text/javascript">
    
    // Read embed application token from textbox
    var txtAccessToken = '<%= token %>';
    
    // Read embed URL from textbox
    var txtEmbedUrl = '<%= embedUrl %>';
    
    // Read report Id from textbox
    var txtReportId = '<%= reportId %>';
    
    // Read page name from textbox
    var txtPageName = '<%= pageName %>';
    
    // Read visual name from textbox
    var txtVisualName = '<%= visualName %>';
    
    // Read embed type from radio
    var tokenType = '<%= tokenType %>';
    
    
    
    
    
    window.addEventListener('DOMContentLoaded',() =>{
        
        // Get a reference to the embedded report HTML element
        var embedContainer = document.getElementById('reportContainer');

        // Get models. models contains enums that can be used.
        var models = window['powerbi-client'].models;
        
        // Embed configuration used to describe the what and how to embed.
        // This object is used when calling powerbi.embed.
        // This also includes settings and options such as filters.
        // You can find more information at https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embed-Configuration-Details.
        var config= {
            type: 'visual',
            tokenType: tokenType == '0' ? models.TokenType.Aad : models.TokenType.Embed,
            accessToken: txtAccessToken,
            embedUrl: txtEmbedUrl,
            id: txtReportId,
            pageName: txtPageName,
            visualName: txtVisualName
        };
        // Embed the report and display it within the div container.
        var report = powerbi.embed(embedContainer, config);
        
        // Report.off removes a given event handler if it exists.
        report.off("loaded");
        
        // Report.on will add an event handler which prints to Log window.
        report.on("loaded", function() {
            Log.logText("Loaded");
        });
        
        report.on("error", function(event) {
            Log.log(event.detail);
        
            report.off("error");
        });
    })
    
    
    </script>
<div style="height: 100vh;width: 100%">
    <div class="col-lg-12" id="reportContainer" style="height: 100vh;width: 100%">    
        
    </div>

</div>
</main>
<script src="js/powerbi.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js", type="text/javascript"></script>
</body>
</html>